body{
    font-family: Arial, sans-serif;
    background-image:url("task21.png");
    margin:0;
    padding:20px;
}

.container{
    max-width:600px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
}

input, button{
    width:100%;
    padding:10px;
    margin:10px 0;
    padding-right:5px;
}

button{
    background:#28a745;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#218838;
}

.error{
    color:red;
    font-size:14px;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#eee;
    margin:5px 0;
    padding:8px;
    display:flex;
    justify-content:space-between;
}